---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Arquitecto de Software" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/svg/golang.gif" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" media="print" onload="this.media='all'"/>
    <meta name="title" content="Gabriel Polack | CEO & Arquitecto de Software" />
    <meta name="description" content="Soy un profesional técnico en Desarrollo de Sistemas de Información especializado en la arquitectura de soluciones en la nube con Azure." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gabo-demo-portfolio.pages.dev/" />
    <meta property="og:title" content="Gabriel Polack | CEO & Arquitecto de Software" />
    <meta property="og:description" content="Soy un profesional técnico en Desarrollo de Sistemas de Información especializado en la arquitectura de soluciones en la nube con Azure." />
    <meta property="og:image" content="https://i.imgur.com/Z99vFHp.jpeg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gabo-demo-portfolio.pages.dev/" />
    <meta property="twitter:title" content="Gabriel Polack | CEO & Arquitecto de Software" />
    <meta property="twitter:description" content="Soy un profesional técnico en Desarrollo de Sistemas de Información especializado en la arquitectura de soluciones en la nube con Azure." />
    <meta property="twitter:image" content="https://i.imgur.com/Z99vFHp.jpeg" />
    <noscript> 
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      />
    </noscript>
    <title>{title}</title>
  </head>
  <body class="bg-[--background] md:px-48 lg:px-20 px-9">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: #101010;
    --sec: #a476ff;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
  }

  * {
    font-family:
      "montserrat",
      -apple-system,
      system-ui,
      sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }

  /* Scrollbar styles for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }
</style>
